ipy
redis
funcy
cidict
bidict
pymills
hiredis
pathlib
attrdict
dnspython

# redisco
# Development version of redisco
-e git+https://github.com/prologic/redisco.git#egg=redisco

# circuits
# Development version of circuits
-e git+https://github.com/circuits/circuits.git#egg=circuits
