redis
funcy
cidict
bidict
pymills
hiredis
attrdict

# redisco
# Development version of redisco
-e git+https://github.com/kiddouk/redisco.git#egg=redisco

# circuits
# Development version of circuits
-e git+https://github.com/circuits/circuits.git#egg=circuits
